export(constrained_objective)
export(constraint)
export(is.constraint)
export(objective)
export(is.objective)
export(add.objective)
export(return_objective)
export(portfolio_risk_objective)
export(risk_budget_objective)
export(optimize.portfolio)
export(generatesequence)
export(randomize_portfolio)
export(random_walk_portfolios)
export(random_portfolios)
