export(chart.Weights.RP)
export(chart.Scatter.RP)
export(charts.RP)
export(constrained_objective)
export(constraint)
export(is.constraint)
export(extractstats)
export(extractStats.rp)
export(summary.optimize.portfolio.rebalancing)
export(objective)
export(is.objective)
export(add.objective)
export(return_objective)
export(portfolio_risk_objective)
export(risk_budget_objective)
export(optimize.portfolio)
export(optimize.portfolio.rebalancing)
export(optimize.portfolio.parallel)
export(generatesequence)
export(randomize_portfolio)
export(random_walk_portfolios)
export(random_portfolios)
export(trailingFUN)
